html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 20px;
}


.transport-type{
    display: flex;
}
.transport-type svg{

}
.transport-type-title{
    display: flex;
}
.transport-type-title span{
    margin-right: 10px;

}
.courier-info{
    height: 40px;
}
.courier-image{
    height: 100%;
}
.courier-image img{
 height: 100%;
}
